<div class="col-xs-12">
    <div class="btn-group pull-right" role="group" aria-label="...">
        <button type="button" class="btn btn-outline-secondary gestionbuttonsfont colorManagment" (click)="gotoDelete()" *ngIf="canDelete">
      DELETE
    </button>
        <button type="button" class="btn btn-outline-secondary gestionbuttonsfont colorManagment" (click)="gotoCreate()" *ngIf="canCreate">
      NEW
    </button>
        <button type="button" class="btn btn-outline-secondary gestionbuttonsfont colorManagment" (click)="gotoEdit()" *ngIf="canEdit">
      EDIT
    </button>
    </div>
</div>